#div1 {
	 background-color:red;
	 width:200px;
	 height:100px;
}
#div2{
	background-color:blue;
	width:200px;
	height:100px;
}
#div3{
	  background-color:#ff0000;
	  width:200px;
	  height:100px;
}
#div4{
	background-color:#00ff00;
	width:200px;
	height:100px;
}
#div5{
	 background-color:#ffffffff;
	 width:200px;
	 height:100px;
}
	  